{% extends 'authenticate/base.html' %}
{% block content %}

<h2 class="text-center">Login</h2>
<div class="col-md-6 offset-md-3">


<form method="POST">
    {% csrf_token %}
        <div class="form-group">
          <label for="username">User Name</label>
          <input type="text" class="form-control"   placeholder="Enter User Name" name="username">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control"  placeholder="Enter Password" name="password"> 
        </div>
       
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
</div>
{% endblock content %}