{% extends 'authenticate/base.html' %}
{% block content %}
  <h1 class="text-center">Register User Page</h1>
  <div class="col-md-6 offset-md-3">
  <form action="" method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger alert-dississble" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
           <p>Your Form Is not Valid</p>
           
           {% for field in form %}
              {% if field.errors %}
              {{field.errors}}
            {% endif %}
             
           {% endfor %}
             
        </div>
        {% endif %}

        {{ form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="register" class="btn btn-primary">
    

  </form>
</div>
{% endblock content %}