{% extends 'authenticate/base.html' %}
{% block content %}
  <h1>Register User Page</h1>
  <form action="" method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    {% if form.errors %}
    <div class="alert alert-danger alert-dississble" role="alert">
            <button class="close" data-dismiss="alert">
                <small><sup>x</sup></small>
            </button>
            Your Form Is not Valid
        </div>
        {% endif %}

        {{ form.as_p }}
        <input type="submit" value="register" class="btn btn-primary">
    

  </form>
  
{% endblock content %}